﻿@model AESoftWare.Models.ContaCorrente

@{
}
<h1>Detalhes da Conta Corrente</h1>

<h4>Detalhes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ContaCorrenteCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroConta" class="control-label"></label>
                <input asp-for="NumeroConta" class="form-control" readonly />
                <span asp-validation-for="NumeroConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saldo" class="control-label"></label>
                <input asp-for="Saldo" class="form-control" readonly/>
                <span asp-validation-for="Saldo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titular" class="control-label"></label>
                <input asp-for="Titular" class="form-control" readonly/>
                <span asp-validation-for="Titular" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ContaCorrentes">Back to ContaCorrentes</a>
</div>