﻿@model IEnumerable<AESoftWare.Models.ContaCorrente>

@{
    ViewData["Title"] = "View";
}

<h1>Lista de Contas</h1>

<p>
    <a asp-action="ContaCorrenteCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroConta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroConta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saldo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titular)
                </td>
                <td>
                    @Html.ActionLink("Sacar", "RealizarSaque", new { numeroConta = item.NumeroConta }) |
                    @Html.ActionLink("Details", "ConsultarDetalhes", new { numeroConta = item.NumeroConta }) |
                    @Html.ActionLink("Deposito", "RealizarDeposito", new { numeroConta = item.NumeroConta  })
                </td>
            </tr>
        }
    </tbody>
</table>
