﻿@model AESoftWare.Models.ContaCorrente

@{
    ViewData["Title"] = "ContaCorrenteCreate";
}

<h1>Criação de Conta Corrente</h1>

<h4>Conta Corrente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "ContaCorrente", FormMethod.Post))
        {
            <form asp-action="ContaCorrenteCreate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NumeroConta" class="control-label"></label>
                    <input asp-for="NumeroConta" class="form-control" />
                    <span asp-validation-for="NumeroConta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Saldo" class="control-label"></label>
                    <input asp-for="Saldo" class="form-control" />
                    <span asp-validation-for="Saldo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Titular" class="control-label"></label>
                    <input asp-for="Titular" class="form-control" />
                    <span asp-validation-for="Titular" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Buttão</label>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }
        </div>
</div>

<div>
    <a asp-action="ContaCorrentes">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
