﻿
@model AESoftWare.Models.ContarCorrenteValorModel
@{

}
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "ContaCorrente", FormMethod.Post))
        {
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Conta.NumeroConta" class="control-label"></label>
                    <input asp-for="Conta.NumeroConta" class="form-control" readonly />
                    <span asp-validation-for="Conta.NumeroConta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Conta.Saldo" class="control-label"></label>
                    <input asp-for="Conta.Saldo" class="form-control" readonly />
                    <span asp-validation-for="Conta.Saldo" class="text-danger" onchange=""></span>
                </div>
                <div class="form-group">
                    <label id="valor"asp-for="Conta.Valor" class="control-label"></label>
                    <input asp-for="Conta.Valor" class="form-control" />
                    <span asp-validation-for="Conta.Valor" class="text-danger"></span>
                </div>
                <label>
                    <button class="btn btn-info" type="submit" id="addressSearch">
                        Saque
                    </button>
                </label>
            </form>
        }
    </div>
</div>
<div>
    <a asp-action="ContaCorrentes">Back to List</a>
</div>